Repository hmcts/ia-case-payments-api, pull requests merged in 2020-05, with the labels that each got.

#5 Test change
  README.md
Labels: ns:ia, rel:ia-case-payments-api-pr-5

#11 RIA-3001 fees register api integration
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/Fee.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeType.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/ExampleHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/FeeService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/FeesRegisterApi.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/FeignErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/FeesConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/FeeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/FeignErrorDecoderTest.java
Labels: ns:ia, rel:ia-case-payments-api-pr-11

#14 RIA-3006 submit appeal and pay later by pba
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/MapFieldAssertor.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/MapMerger.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/MapSerializer.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/MapValueExpander.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/MapValueExtractor.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/StringResourceLoader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/verifiers/CaseDataVerifier.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/verifiers/Verifier.java
  src/functionalTest/resources/scenarios/RIA-3006-EA-appeal-submit-fee.json
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/AppealSubmitFeeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/IaCasePaymentsApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/fixtures/AsylumCaseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/fixtures/Builder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/fixtures/CallbackForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/fixtures/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/fixtures/PostSubmitCallbackResponseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/fixtures/PreSubmitCallbackResponseForTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/fees-register-api-response.json
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AppealType.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealSubmitFeeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/ExampleHandler.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AppealTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealSubmitFeeHandlerTest.java
Labels: ns:ia, rel:ia-case-payments-api-pr-14

#21 Added smoke test
  Jenkinsfile_CNP
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/SmokeTest.java
Labels: ns:ia, rel:ia-case-payments-api-pr-21

#18 RIA-3139 idam and s2s auth integration
  Jenkinsfile_CNP
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/IdamAuthProvider.java
  src/functionalTest/resources/scenarios/RIA-3006-EA-appeal-submit-fee.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/AppealSubmitFeeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/AsylumCaseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/Builder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/CallbackForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/IaCasePaymentsApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/PostSubmitCallbackResponseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/PreSubmitCallbackResponseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/TestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/fixtures/Builder.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/AuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/SpringAuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdentityManagerResponseException.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/SpringAuthorizedRolesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamAuthoritiesConverterTest.java
Labels: ns:ia, rel:ia-case-payments-api-pr-18
