Repository hmcts/ia-case-payments-api, pull requests merged in 2020-07, with the labels that each got.

#46 RIA_3374_Org_Name_API
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/MakePaymentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithIdamStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithRefDataStub.java
  src/integrationTest/resources/organisation-response.json
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/OrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/SuperUser.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/RefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/RefDataApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/RefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-46

#43 Demo env settings - real integration with F&P and Ref-Data
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithIdamStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithRefDataStub.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/PaymentService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/RefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/PaymentApi.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/RefDataApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/RefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-43

#45 RIA-2935_QA_Rework (#42)
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-submit-payment-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-submit-payment-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3006-RIA-3002-EA-appeal-get-fee.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/AppealStartFeeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/MakePaymentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithPaymentStub.java
  src/integrationTest/resources/credit-account-payment-request_with_hearing.json
  src/integrationTest/resources/credit-account-payment-request_without_hearing.json
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/Fee.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealFeePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealFeePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-45

#50 RIA-3445 upgrading to Java11
  .travis.yml
  Dockerfile
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-50
