Repository hmcts/ia-case-payments-api, pull requests merged in 2020-12, with the labels that each got.

#96 RIA-3517 Admin officer record remission decision
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-submit-payment-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-submit-payment-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-account-on-hold.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-account-on-hold.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-success.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/AppealStartFeeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/MakePaymentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/RemissionType.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/Fee.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealFeeDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PayAndSubmitAppealAccountPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealFeePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/RemissionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealFeeDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PayAndSubmitAppealAccountPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealFeePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-96

#102 Amended feeAmount case field to feeAmountGbp
  build.gradle
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-submit-payment-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-submit-payment-without-hearing.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-account-on-hold.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-account-on-hold.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-success.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/MakePaymentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealFeeDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealFeeDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-102

#99 RIA-3705 Serenity tests report fix for JUnit5 runner
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/WelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/BadRequestsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/RemissionTypeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-99
