Repository hmcts/ia-case-payments-api, pull requests merged in 2020-10, with the labels that each got.

#74 Ria 3592 payment method
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/AppealStartFeeIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealFeePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealFeePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-74

#78 Azure provider upgrade
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-78

#79 Owasp upgrade 6.0.2
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-79

#83 Terraform 0.13.4
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-83

#84 swagger docs
  .github/workflows/swagger.yml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-84

#85 Read Me
  README.md
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-85

#86 security test
  Jenkinsfile_nightly
  audit.json
  security.sh
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-86

#87 swagger docs update
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/PreSubmitCallbackController.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-87
