Repository hmcts/ia-case-payments-api, pull requests merged in 2020-06, with the labels that each got.

#23 RIA-3002 pba payment api integration
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-3006-RIA-3002-EA-appeal-get-fee.json
  src/functionalTest/resources/scenarios/RIA-3006-RIA-3002-EA-appeal-submit-payment-later.json
  src/functionalTest/resources/scenarios/RIA-3006-RIA-3002-EA-appeal-submit-payment-now.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/AppealSubmitFeeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/IaCasePaymentsApiClient.java
  src/integrationTest/resources/credit-account-payment-request.json
  src/integrationTest/resources/payment-api-response.json
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CreditAccountPayment.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/Currency.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/Service.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/StatusHistories.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealSubmitFeeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealSubmitFeePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/PaymentService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/PaymentApi.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/PaymentProperties.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/AccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/RequestUserAccessTokenProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CreditAccountPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CurrencyTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/StatusHistoriesTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealSubmitFeeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealSubmitFeePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/RequestUserAccessTokenProviderTest.java
Labels: ns:ia, rel:ia-case-payments-api-pr-23

#38 missing headers
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/PaymentApi.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-38

#40 Ria 2935 integration test
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/WelcomeTest.java
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-submit-payment-hearing.json
  src/functionalTest/resources/scenarios/RIA-2935-EA-appeal-submit-payment-without-hearing.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/AppealSubmitFeeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/component/testutils/Builder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/AppealStartFeeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/GetWelcomeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/MakePaymentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/AsylumCaseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/Builder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/CallbackForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/IaCasePaymentApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/PostSubmitCallbackResponseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/PreSubmitCallbackResponseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/TestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithFeeStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithPaymentStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithServiceAuthStub.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/WelcomeController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-40

#42 RIA-3374 get organisation name
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CreditAccountPayment.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CreditAccountPaymentTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/PaymentServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-42
