Repository hmcts/ia-case-payments-api, pull requests merged in 2020-09, with the labels that each got.

#68 suppress security vulnerability in Launch Darkly
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-68

#58 Ria 3163 payment after submit appeal
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-success.json
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PayAndSubmitAppealAccountPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PayAndSubmitAppealAccountPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-58

#64 Ria 3434 pay offline by card pa
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealFeePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealFeePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-64

#73 RIA-3583 Updated payment request with appealReferenceNumber and legalRepReference
  src/functionalTest/resources/scenarios/RIA-3006-RIA-3002-EA-appeal-get-fee.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-account-on-hold.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-account-on-hold.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-account-deleted.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-success.json
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/MakePaymentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-73
