Repository hmcts/ia-case-payments-api, pull requests merged in 2021-01, with the labels that each got.

#115 fix security vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-115

#114 RIA-3779 upgrade Spring boot to version 2.3.3.RELEASE
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-114

#122 RIA-3549 Provide legal representative details in the upload your bund…
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/LegRepAddressUk.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/field/AddressUk.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/OrganisationEntityResponse.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/RefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-122
