Repository hmcts/ia-case-payments-api, pull requests merged in 2021-11, with the labels that each got.

#208 fix: temp suppress cve-2021-22096
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-208

#205 RIA-4909: Changes to support make a payment for remission rejected appeals
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/RemissionDecision.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/RemissionDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-205

#203 RIA-4801 Fee lookup for AIP and refactoring
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-4801-aip-fee-lookup-error.json
  src/functionalTest/resources/scenarios/RIA-4801-hearing-fee-lookup-for-aip-journey-edit-appeal.json
  src/functionalTest/resources/scenarios/RIA-4801-hearing-fee-lookup-for-aip-journey-start-appeal.json
  src/functionalTest/resources/scenarios/RIA-4801-without-hearing-fee-lookup-for-aip-journey.json
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/JourneyType.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/AppealFeeDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/FeeLookupHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/FeesHelper.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/JourneyTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/ExampleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/FeeLookupHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-203

#210 citizen user added to nightly jenkins
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-210

#204 RIA-4797 Update payment status as a system user
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.preview.template.yaml
  charts/ia-case-payments-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/UpdatePaymentStatusTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/FunctionalSpringContext.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/IdamAuthProvider.java
  src/functionalTest/resources/templates/start-appeal.json
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/CaseMetaData.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/CaseDataContent.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/StartEventDetails.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/SubmitEventDetails.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/CcdDataApi.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/IdentityManagerResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/SystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/SystemUserProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamSystemUserProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/exceptions/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/exceptions/ExceptionResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/exceptions/FeignClientErrorDecoder.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/CaseMetaDataTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/CaseDataContentTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/StartEventDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/SubmitEventDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/FeeDtoTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentDtoTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamSystemTokenGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamSystemUserProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/exceptions/BadRequestExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/exceptions/ExceptionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/exceptions/FeignClientErrorDecoderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-204

#211 RIA-5088 Fetch fees for AIP pay later journey
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/FeeLookupHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/FeeLookupHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-211
