Repository hmcts/ia-case-payments-api, pull requests merged in 2021-03, with the labels that each got.

#136 RIA-4056 Upgrade spring-boot to 2.3.5
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-136

#140 RIA-4058 remove cpe CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-140

#134 RIA-4055 Upgrade apache.httpcomponents/httpclient to 4.5.13
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-134

#142 RIA-4121 Upgrade Tomcat version from 9.0.40 to 9.0.43
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-142

#145 Ta 525 consumer contract tests
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/consumer/fee/FeeApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/consumer/fee/FeeApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/consumer/idam/IdamApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/consumer/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/consumer/payment/PaymentConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/consumer/payment/PaymentConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/consumer/refdata/RefDataConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/consumer/refdata/RefDataConsumerTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CreditAccountPayment.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-145
