Repository hmcts/ia-case-payments-api, pull requests merged in 2022-07, with the labels that each got.

#228 RIA-5721 Enable integration with F&P
  charts/ia-case-payments-api/values.yaml
  config/owasp/suppressions.xml
  lombok.config
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CasePaymentRequestDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestRequest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestUpdateDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/ServiceRequestApi.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CasePaymentRequestDtoTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestRequestTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestUpdateDtoTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/exceptions/ExceptionResponseTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-228

#230 Version bump
  charts/ia-case-payments-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-230

#232 RIA-5721 Make "Party" be "Firstname Lastname"
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestService.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-232

#233 RIA-5721 Amend data sent when updating payment status
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateController.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-233

#235 RIA-6066 Update paymentStatus with status from service-request callback
  charts/ia-case-payments-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataService.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-235
