Repository hmcts/ia-case-payments-api, pull requests merged in 2022-12, with the labels that each got.

#256 EUSS Changes -> Master : DO NOT MERGE
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AppealType.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AppealTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-256

#258 Ria 6437 submit age assessment appeal
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AppealType.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AppealTypeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-258

#260 RIA-6563 : Not change payment status for Ada Appeals
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-260

#261 RIA_6437: set the field to generate Service request for payments for …
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-261
