Repository hmcts/ia-case-payments-api, pull requests merged in 2022-10, with the labels that each got.

#250 RIA-6229 Add hasNoRemission boolean
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-250

#251 RIA-6290 New conditions for generating service request
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-251

#252 Ria 6172 integrate new ways2 pay with eu
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-252

#248 Online Card Pay Release branch - Master <- Dev - Do not merge!
  Dockerfile
  audit.json
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.yaml
  config/owasp/suppressions.xml
  lombok.config
  security.sh
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/IaCasePaymentApiClient.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/callback/PostSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/callback/PostSubmitCallbackStage.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CasePaymentRequestDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestRequest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestUpdateDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/PostSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/ErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/FeesHelper.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/PostSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/clients/ServiceRequestApi.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/PostSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/callback/PostSubmitCallbackResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/callback/PostSubmitCallbackStageTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CasePaymentRequestDtoTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestRequestTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestUpdateDtoTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/PostSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/PostSubmitCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/exceptions/ExceptionResponseTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-248

#254 Updates to fix master build failures
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/UpdatePaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-254
