Repository hmcts/ia-case-payments-api, pull requests merged in 2022-08, with the labels that each got.

#236 NO-TICKET
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-236

#237 RIA-5722 Whitelist payment_app, add nonNull contraints, and logging
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/ServiceRequestUpdateDto.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateController.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-237

#238 RIA-5722 Allow calls to endpoint /service-request-update
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-238

#239 Ria 6109 create service request when submitting case
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-239

#240 RIA-6070 Retain old events inflight cases
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-240

#241 RIA-5813 fee n pay local setup
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-241
