Repository hmcts/ia-case-payments-api, pull requests merged in 2023-11, with the labels that each got.

#322 RIA-7734 fix_image
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/FeeServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-322

#323 RIA-TASK - Merge master changes to NABA - ia-case-payments-api
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  security.sh
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-323

#325 RIA-TASK - Fixed dependency issue relating to logging
  build.gradle
Labels: ns:ia, prd:ia

#326 DIAC-002 Updating renovate json to exclude two plugins
  .github/renovate.json
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-326

#329 DIAC-002 based fix
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-329

#328 DIAC-137 Add logs to Payments create service request API
  .github/workflows/pr-title-validation.yml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestService.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-328

#330 RIA-8045 rebuild payments
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-330

#331 DIAC-173 dependency fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-331
