Repository hmcts/ia-case-payments-api, pull requests merged in 2023-08, with the labels that each got.

#292 RIA-7724 Solve suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-292

#289 RIA-TASK Merged master changes to Naba - payments-api
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/pr-title-validation.yml
  .github/workflows/swagger.yml
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.preview.template.yaml
  charts/ia-case-payments-api/values.yaml
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/ConfigValidatorAppListener.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/ConfigValidatorAppListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-289

#293 RIA-7585 Empty line commit
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-293

#296 RIA-7280 Empty commit
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-296

#297 RIA-TASK - Merged Master changes to NABA Payments
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-297
