Repository hmcts/ia-case-payments-api, pull requests merged in 2023-12, with the labels that each got.

#334 DIAC-123 suppression update 04/12/23
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-334

#335 DIAC-123 dependency 07/12/23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-335

#337 RIA-2023 rebuild_pipelines
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/CreditAccountPaymentTest.java
Labels: ns:ia, prd:ia, no-changes, rel:ia-case-payments-api-pr-337

#338 DIAC-184 build fix 18-12-23
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-338
