Repository hmcts/ia-case-payments-api, pull requests merged in 2023-10, with the labels that each got.

#301 RIA-8888 rebuilding pipeline to allow for image issues to be addressed
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-301

#302 DIAC-50 nightly fixes
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  security.sh
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-302, enable_keep_helm

#304 RIA-7814 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-304

#309 RIA-7454 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-309

#315 DIAC-000 Dependency fix
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-315

#318 RIA-8888 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-318

#312 DIAC-2 updating renovate config options
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-312

#319 RIA-8888 upgrade chart version
  charts/ia-case-payments-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-319

#321 RIA-7447 EJP appeals should not go through payment process
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-321
