Repository hmcts/ia-case-payments-api, pull requests merged in 2024-09, with the labels that each got.

#378 RIA-TASK Get participantVersion from GIT_COMMIT env var
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-378

#377 RIA-0001 Merge with master branch
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-377

#379 RIA-9552 Enable service request for AIP journey
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparer.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/PaymentAppealPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-379

#380 RIA-9554 Allow additional payment service request
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/FeeTribunalAction.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/FeeTribunalActionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-380

#381 RIA-9558 MFA additional amount for service request
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/Fee.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-381

#382 RIA-9558 revert RIA-9554 and RIA-9558 changes
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/FeeTribunalAction.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/fee/Fee.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/FeeTribunalActionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-382
