Repository hmcts/ia-case-payments-api, pull requests merged in 2024-07, with the labels that each got.

#364 DIAC-417 Revert "fixing payments made in states post-submitted when PA pay later"
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/AsylumCaseForTest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataService.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-364

#365 DIAC-510 Add logs in update payment status controller
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-365

#367 DIAC-540 - remove deprecated config and add configtree config
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.preview.template.yaml
  charts/ia-case-payments-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-367

#368 DIAC-000 - remove debugging
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataService.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-368

#369 RIA-TASK - Rebase master ia-case-payments
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  charts/ia-case-payments-api/values.preview.template.yaml
  charts/ia-case-payments-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-369
