Repository hmcts/ia-case-payments-api, pull requests merged in 2024-02, with the labels that each got.

#344 DIAC-228 fixing bouncycastle issues
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-344

#291 RIA-6394 - added S2S authentication (ServiceAuthorization) to update payment status request
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/AppealStartFeeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/MakePaymentIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/AsylumCaseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/CaseDataContentForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/IaCasePaymentApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/PaymentDtoForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/ServiceRequestUpdateDtoForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/StartEventDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/SubmitEventDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/TokenForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithCcdStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithIdamStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithPaymentStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/WithServiceAuthStub.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/ServiceTokenValidatorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusController.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/S2STokenValidator.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/ServiceRequestUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/UpdatePaymentStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/S2STokenValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/CcdDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-291, enable_keep_helm

#343 DIAC-195 updating PaymentStatus.java to match case api
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentStatus.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/payment/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-343

#345 DIAC-68 getting all tests to run in nightly as expected
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/UpdatePaymentStatusTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/util/CcdCaseCreationTest.java
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3082-EA-pay-now-and-submit-without-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-3163-PA-make-a-payment-without-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-4465-pay-for-appeal-with-hearing-success.json
  src/functionalTest/resources/scenarios/RIA-4465-pay-for-appeal-without-hearing-success.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/testutils/SpringBootIntegrationTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-345

#346 DIAC-236 splitting up tests to separate stages
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-346
