Repository hmcts/ia-case-payments-api, pull requests merged in 2024-01, with the labels that each got.

#340 DIAC-103 connecting and turning on fortify
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-340

#332 DIAC-154 adding retry to service request
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestRetryTest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestService.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestServiceTest.java
Labels: ns:ia, prd:ia, no-changes, enable_keep_helm, rel:ia-case-payments-api-pr-332

#342 RIA-7833 Commit to rebuild pipeline
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, no-changes, rel:ia-case-payments-api-pr-342

#275 RIA-6987 - Changes to add cache
  .gitignore
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/BadRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/GetWelcomeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/controllers/MakePaymentIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/RefDataService.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamSystemUserProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/service/RefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/security/oauth2/IdamSystemUserProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-275, enable_keep_helm

#341 RIA-TASK - Merge master changes to NABA - ia-case-payments-api
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Dockerfile
  Jenkinsfile_nightly
  build.gradle
  charts/ia-case-payments-api/Chart.yaml
  config/fortify-client.properties
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/state.tf
  src/integrationTest/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestRetryTest.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/postsubmit/SubmitAppealCreateServiceRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestService.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/infrastructure/service/ServiceRequestServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-341
