Repository hmcts/ia-case-payments-api, pull requests merged in 2024-08, with the labels that each got.

#363 DIAC-509 Add logs to Create Service Request event handler
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-payments-api-pr-363

#372 RIA-9213 second_service_request
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasepaymentsapi/domain/handlers/presubmit/CreateServiceRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-372

#370 DIAC-556 Update OWASP and gradle
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-370

#373 DIAC-556 Revert "DIAC-556 Update OWASP and gradle"
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-373

#375 DIAC-556 Update OWASP, gradle, JCenter
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-case-payments-api-pr-375
